@using System.Globalization
@model IEnumerable<News>
<section id="NewsTop">
    @Html.Raw(language.Getkey("LatestNewsMod"))
</section>


<section id="AllNews">
    <h1>@language.Getkey("News")</h1>
    <div class="newsCards">
        @foreach (var item in Model)
        {
            <div class="newsCard">
                <div class="newsImage">
                    <img src="~/src/images/newsbgmain.jpeg" alt="">
                </div>
                <div class="newsInfo">
                    <h1 class="title">@item.Title</h1>
                    <h3 class="date"> @item.CreatedAt.ToString("MMMM dd, yyyy").Substring(0, 1).ToUpper()@item.CreatedAt.ToString("MMMM dd, yyyy").Substring(1)</h3>
                    <p class="description">@Html.Raw(item.Description)</p>
                    <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id">@language.Getkey("ReadMore")</a>
                </div>
            </div>
        }
    </div>
</section>