@model News
<h1>@language.Getkey("NewsDetails")</h1>
@* <p><strong>@language.Getkey("Image"):</strong> <img style="width:120px; height:120px; object-fit:cover;" src="~/src/images/news/@Model.ImagePath" /></p> *@
<p><strong>@language.Getkey("Title"):</strong> @Model.Title</p>
<p><strong>@language.Getkey("Description"):</strong> @Model.Description</p>
<p><strong>@language.Getkey("CreatedAt"):</strong> @Model.CreatedAt</p>

<a asp-action="Index" class="btn btn-secondary">@language.Getkey("GoToBack")</a>