@model Setting
<h1>@language.Getkey("SettingDetails")</h1>
@* 
@if (Model.Key == language.Getkey("SolutionsPageDescription"))
{
    <p><strong>@language.Getkey("Key"):</strong> @language.Getkey("SolutionsPageDescription")</p>
}
else if (Model.Key == language.Getkey("PartnersPageDescription"))
{
    <p><strong>@language.Getkey("Key"):</strong> @language.Getkey("PartnersPageDescription")</p>
}
else if (Model.Key == language.Getkey("Home1"))
{
    <p><strong>@language.Getkey("Key"):</strong> @language.Getkey("Home1")</p>
}
else if (Model.Key == language.Getkey("Home2"))
{
    <p><strong>@language.Getkey("Key"):</strong> @language.Getkey("Home2")</p>
}
else if (Model.Key == language.Getkey("Home3"))
{
    <p><strong>@language.Getkey("Key"):</strong> @language.Getkey("Home3")</p>
}

 *@
<p><strong>@language.Getkey("Value"):</strong> @Html.Raw(Model.Value)</p>

<a asp-action="Index" class="btn btn-secondary">@language.Getkey("GoToBack")</a>