@model PageNatedList<Setting>
@{
    ViewData["Title"] = "Index";
    int count = (Model.PageIndex - 1) * 3;
    int No = (Model.PageIndex - 1) * 10;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h2 class="card-title">@language.Getkey("Settings")</h2>
                    @* <a asp-area="TelcoAdmin" asp-controller="Settings" asp-action="Create" class="btn btn-primary text-white mr-2">@language.Getkey("Create")</a>  *@

                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    @language.Getkey("Key")
                                </th>
                                <th>
                                    @language.Getkey("Value")
                                </th>
                                <th>
                                    @language.Getkey("Actions")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Setting set in Model)
                            {
                                No++;
                                <tr>
                                    <td>
                                        @No
                                    </td>
                                    <td>
                                        @set.Key
                                    </td>
                                    <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                        @set.Value
                                    </th>
                                    <td style="vertical-align: middle; text-align: center; ">
                                        <a asp-action="Detail" asp-route-id="@set.Id" class="btn btn-warning text-white mr-2">@language.Getkey("Details")</a>
                                        <a asp-action="Update" asp-route-id="@set.Id" class="btn btn-info text-white mr-2">@language.Getkey("Update")</a>
                                        @* <a asp-action="Delete" asp-route-id="@set.Id" class="btn btn-danger text-white mr-2 deleteIndex">@language.Getkey("Delete")</a> *@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.HasPrev)
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="TelcoAdmin" asp-controller="News" asp-action="Index"
                           asp-route-pageIndex="@(Model.PageIndex - 1)">@language.Getkey("Previous")</a>
                    </li>
                }
                @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")"><a class="page-link" asp-area="TelcoAdmin" asp-controller="News" asp-action="Index" asp-route-pageIndex="@i">@i</a></li>
                }
                @if (Model.HasNext)
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="TelcoAdmin" asp-controller="News" asp-action="Index"
                           asp-route-pageIndex="@(Model.PageIndex + 1)">@language.Getkey("Next")</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .swal-title {
            color: black;
        }

        .swal-text {
            color: #555;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.deleteIndex', function (e) {
                e.preventDefault();
                var deleteUrl = $(this).attr('href');

                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this data!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: deleteUrl,
                                type: 'DELETE',
                                success: function (result) {
                                    swal({
                                        icon: "success",
                                        text: "Your data has been deleted!",
                                        buttons: false,
                                    })
                                    setTimeout(() => {
                                        location.reload();
                                    }, 1000)
                                },
                                error: function (error) {
                                    console.error('Error:', error);
                                }
                            });
                        } else {
                            swal({
                                icon: "error",
                                text: "Delete operation cancelled!",
                                buttons: false,
                                timer: 1000
                            });
                        }
                    });
            });
        });
    </script>

}
