@model AboutUs
@{
    Header header = ViewBag.Header;
}
@* <section id="About">

    <p>@Html.Raw(Model?.GeneralDescription)</p>
    @Html.Raw(language.Getkey("AboutUsMod"))

</section> *@

<section id="About">
    <div class="aboutSectionimage">
        <h1>@Html.Raw(header.BlueText)</h1>
        <h2>@Html.Raw(header.GreenText)</h2>
        @* @Html.Raw(language.Getkey("AboutUsMod")) *@
        <img src="~/src/images/svg/about-us-test.png" alt="">
    </div>

    <div class="aboutSectionText">
        <p>@Html.Raw(Model?.GeneralDescription)</p>
    </div>
</section>