@model Bio
@inject LanguageService language
<h1>@language.Getkey("BioDetails")</h1>
<p><strong>@language.Getkey("PhoneNumber"):</strong> @Model.PhoneNumber</p>
<p><strong>@language.Getkey("Email"):</strong> @Model.Email</p>
<p><strong>@language.Getkey("Address"):</strong> @Model.Address</p>
<p><strong>Facebook:</strong> @Model.Facebook</p>
<p><strong>Instagram:</strong> @Model.Instagram</p>
<p><strong>Linkedin:</strong> @Model.Linkedin</p>
<p><strong>Twitter:</strong> @Model.Twitter</p>
<p><strong>@language.Getkey("Map"):</strong></p>@Html.Raw(Model.MapLink)
<br />
<a asp-action="Index" class="btn btn-secondary">@language.Getkey("GoToBack")</a>