@model List<Solution>
@{
    bool isReversed = false;
    @inject LayoutService layoutService
    string currentCulture = await layoutService.GetCurrentLangauge();
    IEnumerable<Setting>? settings = await layoutService.GetSettings();



}
<section id="Intro">
    <h1>@language.Getkey("SOLUTIONSS")</h1>
    <h2>@language.Getkey("SolvingComplexityDeliveringSimplicity")</h2>
</section>

<section id="SolutionGroups">
    <p class="intro">
        @settings.FirstOrDefault(s => s.Key == "SolutionsPageDescription" && s.Language?.Culture == currentCulture)?.Value
    </p>

    @if (Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            @if (isReversed)
            {
                <div class="solutionCard">
                    <div class="solutionText">
                        <h1 class="title">@item.Title</h1>
                        <p class="subtitle">
                            @item.Description
                        </p>
                    </div>
                    <div class="rectangle nonReversed"></div>
                </div>
            }
            else
            {
                <div class="solutionCard reversed">
                    <div class="solutionText">
                        <h1 class="title">@item.Title</h1>
                        <p class="subtitle">
                            @item.Description
                        </p>
                    </div>
                    <div class="rectangle"></div>
                </div>
            }

            isReversed = !isReversed;
        }
    }
</section>